@import "../../styles/colors.scss";

.footer {
  margin-top: 50px;
  font-size: 14px;
  color: $text-4a;
}

.footer__container {
  display: grid;
  grid-template-areas:
    'copyright links';
  align-items: center;
  min-height: 135px;
  margin: 0 auto;
  max-width: 824px;
  border-top: 2px solid $border-footer;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__links {
  justify-self: end;
  grid-area: links;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

@media screen and (max-width: 824px) {
  .footer__container {
    margin: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .footer__container {
    grid-template-areas:
      'links'
      'copyright';
  }

  .footer__links {
    justify-self: stretch;
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }
}
