@import "variables";

.auth {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  color: $mine-shaft;
}

.auth-container {
  display: grid;
  grid-template-rows: 180px 360px 30px;
  align-items: center;
  height: 100%;
  max-width: 420px;
  width: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  max-width: 420px;
  max-height: 340px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.login-input {
  max-width: 320px;
  height: 44px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 5px;
}

label,
.login-input {
  font-size: 18px;
  font-weight: 600;
}

.password-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .password-eye-icon {
    position: absolute;
    right: 10px;
    top: 45px;
    opacity: 0.3;
    cursor: pointer;
  }
}

.login-button {
  margin-top: 20px;
}

.login-image {
  position: fixed;
  max-height: 100%;
  height: auto;
  right: 0;
  content: url('../../../assets/images/login.png');
  background-repeat: no-repeat;
}

.login-question {
  font-size: 14px;
  font-weight: 500;
  z-index: 100;
  min-width: 270px;
  color: $black;
}

.ng-invalid.ng-touched:not(form){
  border: solid 1px red;
}

@media screen and (max-width: 440px) {
  .auth-container {
    justify-content: space-around;
  }

  .login-container {
    max-width: 310px;
    max-height: 340px;
    width: 100%;
    height: 100%;
  }

  .login-form {
    max-width: 280px;
  }

  .login-input {
    max-width: 280px;
    height: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .auth {
    grid-template-columns: 1fr;
  }

  .login-image {
    content: url('../../../assets/images/login_mobile.png');
  }
}

@media screen and (max-height: 570px) {
  .auth-container {
    grid-template-rows: 100px 360px 30px;
  }
}
