<div class="auth">
  <div class="auth-container">
    <div class="login-title">
      <img src="assets/images/logo-login.svg" alt="">
    </div>
    <div class="login-container">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="email">Email</label>
        <input
          type="email"
          class="cb-common-input login-input"
          formControlName="email"
          id="email"
          email
          required
        >
        <div class="password-container">
          <label for="password">Password</label>
          <input
            type="{{isPasswordType ? 'password' : 'text'}}"
            class="cb-common-input login-input"
            formControlName="password"
            id="password"
          >
          <i
            class="fa fa-lg password-eye-icon"
            (click)="isPasswordType = !isPasswordType"
            [ngClass]="{'fa-eye': !isPasswordType, 'fa-eye-slash': isPasswordType}"
          ></i>
        </div>
        <button
          class="cb-common-btn login-button"
          [disabled]="!loginForm.valid"
        ><i class="fa fa-lg fa-check"></i> Login</button>
      </form>
    </div>
    <div class="login-question">
      Don’t have own CookBook? <a routerLink="/signup" class="cb-common-link">Register now!</a>
    </div>
  </div>
  <img class="login-image">
</div>
