<div class="auth">
  <div class="login-title">
    CookBook
  </div>
  <div class="login-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email">Email</label>
      <input
        type="text"
        class="login-input"
        formControlName="email"
        id="email"
      >
      <div class="password-container">
        <label for="password">Password</label>
        <input
          type="{{isPasswordType ? 'password' : 'text'}}"
          class="login-input"
          formControlName="password"
          id="password"
        >
        <i
          class="fa fa-lg fa-eye password-eye-icon"
          (click)="isPasswordType = !isPasswordType"
          *ngIf="!isPasswordType"
        ></i>
        <i
          class="fa fa-lg fa-eye-slash password-eye-icon"
          (click)="isPasswordType = !isPasswordType"
          *ngIf="isPasswordType"
        ></i>
      </div>
      <button class="login-button">Login</button>
    </form>
  </div>
  <div class="login-question">
    Don’t have own CookBook? <a routerLink="/signup">Register now!</a>
  </div>
  <img class="login-image" src="assets/images/login.svg">
</div>
