.auth {
  display: grid;
  width: 400px;
  margin: 0 auto;

  .login-form {
    display: grid;
    grid-row-gap: 10px;
    font-size: 16px;
    font-family: "PT Sans";
  
    .login-input {
      padding: 10px 20px;
    }
  
    .login-btn {
      padding: 10px 20px;
      background-color: #58D68D;
      cursor: pointer;
  
      &:hover {
        background-color: #2ECC71;
      }
    }
  }
  
  .logout-btn {
    padding: 10px 20px;
    background-color: #F08080;
    cursor: pointer;
  
    &:hover {
      background-color: #CD5C5C;
    }
  }
}