<div class="landing">
  <div class="landing__common-block">
    <div class="landing__create-cb">
      <div class="title">
        <img src="assets/images/logo-login.svg" alt="">
      </div>
      <div class="question">
        Tired of looking for <br/>recipes from everywhere?
      </div>
      <div class="description">
        CookBook is own personal recipe manager and meal planner. Store all favorite recipes in one place! 
      </div>
      <button class="cb-common-btn create-book-button" routerLink="/signup">
        <i class="fa fa-lg fa-check"></i> Create book
      </button>
    </div>
    <img class="landing__common-image">
  </div>
  <div class="allow-text">
    <span class="allow-text__cook">Cook</span><span class="allow-text__book">Book</span> allows you
  </div>
  <div class="info-container">
    <div class="second-area">
      <img src="../../assets/images/landing/save-recipes.svg" class="info-container__image">
    </div>
    <div class="info-container__block first-area">
      <img src="../../assets/images/landing/bookmark.svg">
      <span class="info-container__block__title">Save Recipes</span>
      <div class="info-container__block__description">
        Save your favourite recipes from websites,
        magazines, recipe books or simply those from
        your head, all in one place!
      </div>
    </div>
  </div>
  <div class="info-container">
    <div class="info-container__block center first-area">
        <img src="../../assets/images/landing/calendar.svg">
        <span class="info-container__block__title">Plan Weekly Menu</span>
        <div class="info-container__block__description">
          Meal planning let you live with less time wasted wondering what to eat during the week, 
          and a better balance of your recipes.
        </div>
    </div>
    <div class="info-container__image-end second-area">
      <img src="../../assets/images/landing/weekly-menu.png" class="info-container__image">
    </div>
  </div>
  <div class="info-container">
    <div class="info-container__image-center second-area">
      <img src="../../assets/images/landing/grocery.svg" class="info-container__image">
    </div>
    <div class="info-container__block first-area">
        <img src="../../assets/images/landing/cart.svg">
        <span class="info-container__block__title">Create Grocery List</span>
        <div class="info-container__block__description">
          Create grocery lists using your recipe ingredients. Save you valuable time and energy!
        </div>
    </div>
  </div>
  <div class="info-container">
      <div class="info-container__block center first-area">
          <span class="info-container__block__title">Download app</span>
          <div class="info-container__block__description">
            Delicious, seamless and clever recipe collection app.
          </div>
          <img src="../../assets/images/landing/appstore.png" style="width: 160px;">
      </div>
      <div class="second-area">
        <img src="../../assets/images/landing/mobile.png" class="info-container__image">
      </div>
    </div>
    <div class="on-desktop">
      <div class="on-desktop__available">
        Available on desktop
      </div>
      <div class="on-desktop__block-image">
        <img src="../../assets/images/landing/desktop.png" class="on-desktop__image">
      </div>
      <div class="on-desktop__info">
        Your CookBook and recipes will be stored in the cloud and will be available on the 
        desktop and mobile platforms anytime. Let’s try own CookBook!
      </div>
      <button class="cb-common-btn" routerLink="/signup">
        <i class="fa fa-lg fa-check"></i> Create book
      </button>
    </div>
</div>
