$mine-shaft: #333333;
$black: #000000;
$white: #ffffff;
$tundora: #4a4a4a;
$tundora-darker: #444444;
$flush-orange: #ff8302;
$safety-orange-025: rgba(255, 116, 0, 0.25);
$pizazz: #ff9400;
$selective-yellow: #ffbb00;
$silver: #cccccc;
$dusty-gray-01: rgba(151, 151, 151, 0.1);
$dusty-gray-04: rgba(151, 151, 151, 0.4);
$alabaster: #fbfbfb;
$buttercup-04: rgba(245, 166, 35, 0.4);