$common-text: #333333;
$second-text: #000000;
$text-4a: #4a4a4a;
$common-orange: #ff8302;
$second-orange: #ff9400;

$disable-btn: #cccccc;

$background-input: #ffffff;
$border-input: rgba(151, 151, 151, 0.1);
$border-input-focus: rgba(151, 151, 151, 0.4);