$common-text: #333333;
$second-text: #000000;
$common-orange: #ff8302;

$disable-btn: #cccccc;

$background-input: #ffffff;
$border-input: rgba(151, 151, 151, 0.1);
$border-input-focus: rgba(151, 151, 151, 0.4);