@import "./colors.scss";

.cb-common-input {
  background-color: $white;
  border-radius: 5.5px;
  border: solid 1px $dusty-gray-01;

  &:focus {
    outline: none;
    border: solid 1px $dusty-gray-04;
  }
}