@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../assets/fonts/fonts";

@import "./buttons.scss";
@import "./links.scss";
@import "./inputs.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: $open-sans;
}

cb-login,
cb-sign-up,
cb-landing {
  width: 100%;
}
