.cookbook {
  height: 100%;
  display: flex;
}

.wrapper {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .wrapper {
    margin: 0 10px;
  }
}
