@import 'variables';
@import '../assets/fonts/fonts.scss';

.nav-menu {
  position: fixed;
  width: 100%;
  height: 60px;
  background: $white;
  color: $mine-shaft;
  background-image: linear-gradient(346deg, $pizazz, $selective-yellow);
  z-index: 100;
}

.nav-menu__content {
  display: flex;
  height: inherit;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.nav-menu__logo {
  font-size: 24px;
  font-weight: 900;
  align-self: center;
  justify-self: center;
  padding-right: 60px;
  font-family: $open-sans;
  color: $alabaster;
  cursor: pointer;
}

.nav-menu__items {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: inherit;
}

.nav-menu__links {
  display: flex;
}

.nav-menu__menu-link {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: $white;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;

  &.active:hover,
  &:hover {
    cursor: pointer;
  }

  &.active {
    opacity: 1;
    background-color: $safety-orange-025;
  }
}

.nav-menu__user {
  display: flex;
  align-items: center;
}

.nav-menu__user-name {
  max-width: 150px;
  margin-left: 10px;
  color: $white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
  }
}

.nav-menu__humb {
  display: none;
}

@media screen and (max-width: 1025px) {
  .nav-menu__content {
    margin: 0 10px;
  }

  .nav-menu__logo {
    display: none;
  }

  .nav-menu__items {
    display: none;
  }

  .nav-menu__humb {
    display: inline-block;
    color: $white;
    cursor: pointer;
  }
}
