<div class="nav-menu">
  <div class="nav-menu__content">
    <div class="nav-menu__logo" [routerLink]="['/']">
      CookBook
    </div>
    <div class="nav-menu__items">
      <nav class="nav-menu__links">
        <div
          class="nav-menu__menu-link"
          *ngFor="let link of menuLinks"
          routerLink="{{link.path}}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          {{link.name}}
        </div>
      </nav>
      <div class="nav-menu__user">
        <div
          class="nav-menu__user-name"
          routerLink="/profile"
          routerLinkActive="active"
        >
          {{(this.authService.user | async)?.displayName}}
        </div>
      </div>
    </div>
  </div>
</div>
