@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./styles/buttons.scss";
@import "./styles/links.scss";
@import "./styles/inputs.scss";

html,
body {
  height: 100%;
  margin: 0;
}

cb-login,
cb-sign-up {
  width: 100%;
}
